/whynot
/gio
/giowhynot
/cmd/whynot/whynot
/cmd/giowhynot/giowhynot
/dist
/examples/wasm/whynot.wasm
/cmd/whynot/web/whynot.wasm
/cmd/whynot/web/giowhynot
/cmd/giowhynot/web/giowhynot.wasm
/cmd/giowhynot/web/wasm_exec.js
