/whynot
/gio
/giowhynot
/browser/cmd/whynot/whynot
/browser/cmd/giowhynot/giowhynot
/dist
/examples/wasm/whynot.wasm
/browser/cmd/whynot/web/whynot.wasm
/browser/cmd/whynot/web/giowhynot
/browser/cmd/giowhynot/web/giowhynot.wasm
/browser/cmd/giowhynot/web/wasm_exec.js
